.footer-contact {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-inline: 20px;
  box-sizing: border-box;
}
.contact-container {
  position: relative;
  max-width: 1200px;
  width: 100%;
}

.contact-image-container {
  width: 70%;
}

.contact-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  max-height: 400px;
}

.contact-card {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: white;
  padding: 40px;
  width: 40%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.contact-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 24px;
  letter-spacing: 1.5px;
}

.contact-text {
  font-size: 1.2rem;
  margin-bottom: 32px;
}

.contact-button {
  text-decoration: none;
  padding: 12px 24px;
  font-size: 0.9rem;
}

.contact-button:hover {
  background-color: #539393;
}
@media (max-width: 768px) {
  .footer-contact {
    padding-bottom: 80px;
  }
  .contact-image-container {
    width: 100%;
  }

  .contact-card {
    position: absolute;
    top: 70%;
    right: 50%;
    transform: translateY(-50%);
    transform: translateX(50%);
    background-color: white;
    padding: 40px;
    width: max-content;
    max-width: 90vw;
  }
}
